* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    color: white;
    background: linear-gradient(120deg, yellow, orange);
}

header {
    font-size: 2rem;
    margin-top: 2rem;
}

header, .infinite-scroll-container {
    display: flex;
    align-items: center;
    justify-content: center;
}