body {
    font-family: Arial, sans-serif;
    background: white;
    margin: 0;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.product-item {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px lightgray;
    cursor: pointer;
    transition: 0.2s;
}

/* .product-item:hover {
    transform: scale(1.03);
} */

.product-item img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    width: 400px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 2px 6px lightgray;
    /* animation: popup 0.3s ease; */
}

/* 
@keyframes popup {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
} */

.close-btn {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.hidden {
    display: none;
}
